.site{
background-color:#B28300;
}
.site-content{
background-color:#19C9FF;

}
.wp-block-image img{
border : 3px solid black;
}

.wp-block-media-text__media img{
border : 3px solid black;
}

.wp-block-media-text__content{
background-color:blanchedalmond;
margin-left:50px;
}

.entry-content p{
background-color: blanchedalmond;

}