.site{
background-color:whitesmoke;
}
.site-content{
background-color:whitesmoke;

}
.wp-block-image img{
border : 3px solid black;
}

.wp-block-media-text__media img{
border : 3px solid black;
}

/*.wp-block-media-text__content{
background-color:blanchedalmond;


}*/